<h2>{{ title }}</h2>
<div class="content__form">
  <form enctype="multipart/form-data" class="form">
    <label for="file-title" class="form__label">
      <span>Goods title</span>
      <input
        type="text"
        name="title"
        id="file-title"
        class="form__input"
        value="{{ item ? item.title | escape : '' }}"
        required
        placeholder="title"
      />
    </label>
    <label for="file-price" class="form__label">
      <span>Goods price</span>
      <input
        type="number"
        step="any"
        name="price"
        id="file-price"
        class="form__input"
        value="{{ item ? item.price | escape : '' }}"
        required
        placeholder="price"
      />
    </label>
    <label for="file-shortInfo" class="form__label">
      <span>Short description of goods</span>
      <textarea
        name="shortInfo"
        id="file-shortInfo"
        class="form__input form__textarea"
        required
        placeholder="shortInfo"
        >{{ item ? item.shortInfo | escape : '' }}</textarea
      >
    </label>
    <label for="file-fullInfo" class="form__label">
      <span>Full description of goods</span>
      <textarea
        name="fullInfo"
        rows="10"
        id="file-fullInfo"
        class="form__input form__textarea"
        required
        placeholder="fullInfo"
        >{{ item ? item.fullInfo | escape : '' }}</textarea
      >
    </label>
    <label class="form__input form__input_file" for="file-upload">
      <svg
        class="input__attach"
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          class="path_2"
          d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"
          fill="#4a4a4a"
        />
      </svg>
      <span class="input_photo">Add photo</span>
    </label>
    <input type="file" name="photo" id="file-upload" accept="image/*" />
    <input
      type="hidden"
      name="id"
      id="file-id"
      value="{{ item ? item.id | escape : '' }}"
    />
    <input type="submit" value="Save" class="form__button" />
    <a href="{{ backLink }}" class="item__link">Back</a>
  </form>
  {% if action == 'edit' and item.img %}
  <img src="{{ pathToPhoto }}/{{ item.img | escape }}" class="form__photo" />
  {% endif %}
</div>
